
<div class="page">
  <div class="searchBq">
    <h1><form>
      <fieldset>
        <legend>NEED A PRICE PREDICTION ?</legend>
        <div class="inner-form">

        </div>
      </fieldset>
    </form></h1>
  </div>
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="  Search Here ! ">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Current Price</h2>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Next Month Price</h2>

  </div>
</div>

<div class="like-page">
  <h2>Also you like this...</h2>
</div>
