<!--  header Image-->
<div class="bg-img">
  <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
  <div id="slider">
    <figure>
      <img src="assets/1.jpg" alt>
      <img src="assets/2.jpg" alt>
      <img src="assets/3.jpg" alt>
      <img src="assets/5.jpg" alt>
      <img src="assets/2.jpg" alt>
    </figure>
  </div>
</div>

<!--contact-info-->
<div class="contact-bar">
  <!--animated text-->
  <div class="anim-box">
    <p class="line anim-typewriter">Expect more... Pay less...</p>
  </div>
</div>

<div class="first-bar">

  <div class="discrip01">
    <h2>
      Welcome To Pickerr.Me...!
    </h2>
    <p>
      This based on hardware as well as software for “Pickerr.Me” – Smartphone <br>& Laptops recommendation and prediction automated.
    </p>
  </div>
  <div class="col-12 col-md-6">
  <div class="slide-bar">
    <ul class="slides">
  <input type="radio" name="radio-btn" id="img-1" checked />
  <li class="slide-container">
    <div class="slide">
      <img src="https://images.unsplash.com/photo-1589561084283-930aa7b1ce50?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1189&q=80" />
    </div>
    <div class="nav">
      <label for="img-6" class="prev">&#x2039;</label>
      <label for="img-2" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-2" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://images.unsplash.com/photo-1501163268664-3fdf329d019f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
    </div>
    <div class="nav">
      <label for="img-1" class="prev">&#x2039;</label>
      <label for="img-3" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-3" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://images.unsplash.com/photo-1585060544812-6b45742d762f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bW9iaWxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-4" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://images.unsplash.com/photo-1584006682522-dc17d6c0d9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1192&q=80" />
    </div>
    <div class="nav">
      <label for="img-3" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-5" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.gizbot.com/images/2019-10/lenovo-legion-y540_1571479823110.jpg" />
    </div>
    <div class="nav">
      <label for="img-4" class="prev">&#x2039;</label>
      <label for="img-6" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-6" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://images.unsplash.com/photo-1583223667854-e0e05b1ad4f3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzF8fGhwfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="nav">
      <label for="img-5" class="prev">&#x2039;</label>
      <label for="img-1" class="next">&#x203a;</label>
    </div>
  </li>

  <li class="nav-dots">
    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
  </li>
</ul>
  </div>
  </div>
</div>

<div class="second-bar">
</div>
<div class="third-bar">
  <div class="mainBody">
    <div class="sellerPicture">
      <img src="assets/seller.jpg" alt="Seller Portal" width="100%" height="100%">
    </div>
    <div class="sellerDetails">
      <div class="description">
        <h1 class="title" align="center">SELLER PORTAL</h1>
        <p class="des" align="center"><b>In Seller Portal sellers can login and post their adds according to features
        we offers.Buyers can select best laptops and Mobile phones for convenient price...</b>
        </p>
      </div>
    </div>
    <div class="predictPicture">
      <img src="assets/predict.jpg" alt="Prediction" width="100%" height="100%">
    </div>
    <div class="predictDetails">
      <div class="description">
        <h1 class="title" align="center">PREDICTION</h1>
        <p class="des" align="center"><b>In our system we predicts the future prices of the Laptops and Mobile Phones.
        Customers can get brief idea about next month price of the laptop or Mobile Phone which is he want to buy... </b>
        </p>
      </div>
    </div>
    <div class="recPicture">
      <img src="assets/rec.jpg" alt="Recommendation" width="100%" height="100%">
    </div>
    <div class="recDetails">
      <div class="description">
        <h1 class="title" align="center">RECOMMENDATION</h1>
        <p class="des" align="center"><b>When user search Mobile phone or laptop our system automatically shows the
        Mobile phones and Laptops in his search range...</b>
        </p>

      </div>
    </div>
  </div>
</div>
<div class="forth-bar"></div>
