<div class="main-wrap">

<!--Post Show-->
  <h1 class="main-create" routerLink="/CreatePost" ><i class="fas fa-plus-circle"></i>      Create Post Here</h1>
  <div class="post-view">

    <div class="post-page">

      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempCustomer of sellerList; index as num">
          <td class="raw-wrap">
            <img style="width: 200px; height: 200px" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sale-instagram-video-ad-template-design-8156716fb5f9d74729f4205db72a88b4.jpg?ts=1579544941">
          </td>
          <td class="table-title">{{tempCustomer.title}}</td>
          <td class="desc-wrap">{{tempCustomer.description}}</td>
          <td class="mbNumber">{{tempCustomer.mobileNo}}</td>

          <td>
            <p>
              <button class="btn-Update"><i class="fas fa-edit"></i></button>
              <br>
              <br>
              <button class="btn-Delete" (click)="deleteCustomer(tempCustomer._id)"><i class="fas fa-trash-alt"></i></button>
            </p>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>





</div>
