<div class="main-wrap">
<!--  //////////////////////////-->
  <div class="product-card">
    <div class="product-image">
      <img src="assets/dell.jpg">
    </div>
    <div class="vl"></div>
    <div class="product-info">
      <h1>huawei-y7a</h1>
      <h2>$99.99</h2>
    </div>
  </div>
</div>
<br>
<!-- //////////////////////////-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Detail</th>
    <th scope="col">Description</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="table-title">Brand</td>
    <td class="desc-wrap">Apple</td>
  </tr>
  <tr>
    <td class="table-title">Phone Name</td>
    <td class="desc-wrap">Iphone x</td>
  </tr>
  <tr>
    <td class="table-title">Average Rating</td>
    <td class="desc-wrap">6.4</td>
  </tr>
  <tr>
    <td class="table-title">Network technology</td>
    <td class="desc-wrap">ahkds</td>
  </tr>
  <tr>
    <td class="table-title">Network GPRS</td>
    <td class="desc-wrap">3G,4G</td>
  </tr>
  <tr>
    <td class="table-title">Network Edge</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Launch Announced</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Launch Status</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Body Dimentions</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Body Sim</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Display Type</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Display Resolution</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Platform OS</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Platform CPU</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Sound Loudspeker</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Sound Jack</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Features Sensors</td>
    <td class="desc-wrap">6GB</td>
  </tr>
  <tr>
    <td class="table-title">Battary</td>
    <td class="desc-wrap">3500mah</td>
  </tr>
  </tbody>
</table>
