<div class="main-wrap">
  <div class="topic-bar">
      <h1 class="topic">
        Create an account
      </h1>
  </div>
  <div class="middle-box">
    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">First Name</label>
      </div>
      <input [(ngModel)]="firstName" class="form-input" type="text"  placeholder="First Name" >
      <div class="icon-wrap" >
        <label class="label-tag">Last Name</label>
      </div>
      <input [(ngModel)]="lastName" class="form-input" type="text"  placeholder="Last Name" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Store Name</label>
      </div>
      <input [(ngModel)]="storeName" class="form-input" type="text"  >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Email address</label>
      </div>
      <input [(ngModel)]="email" class="form-input" id="email" type="email"  placeholder="name@example.com" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Phone No</label>
      </div>
      <input [(ngModel)]="tel" class="form-input" type="tel"  placeholder="Mobile/Fix" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Password</label>
      </div>
      <input [(ngModel)]="password" class="form-input" id="password" type="password" placeholder="" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Confirm Password</label>
      </div>
      <input class="form-input" type="password" placeholder="" >
    </div>
    <br>
    <br>

    <button class="sign-btn" (click)="registerUser()">Sign Up</button>
  </div>
  <br>
  <br>
  <div class="para-wrap">
    Terms of services and Privacy Policy.<br>
    <h4>Copyright   <i class="far fa-copyright"></i> by Picerr.Me ...</h4>
  </div>
</div>
