<div class="main-wrap">
  <div class="topic-bar">
      <h1 class="topic">
        Seller Sign-Up..
      </h1>
  </div>
  <div class="middle-box">
    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">First Name<p class="p1"></p></label>
      </div>
      <input class="form-input" type="text"  placeholder="First Name" >
      <div class="icon-wrap" >
        <label class="label-tag">Last Name</label>
      </div>
      <input class="form-input" type="text"  placeholder="Last Name" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">User Name</label>
      </div>
      <input class="form-input" type="text"  >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Email</label>
      </div>
      <input class="form-input" type="email"  placeholder="" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Phone No</label>
      </div>
      <input class="form-input" type="tel"  placeholder="Mobile/Fix" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Password</label>
      </div>
      <input class="form-input" type="password" placeholder="" >
    </div>
    <br>

    <div class="form-wrap">
      <div class="icon-wrap" >
        <label class="label-tag">Confirm Password</label>
      </div>
      <input class="form-input" type="password" placeholder="" >
    </div>
    <br>
    <br>

    <button class="sign-btn">Sign Up</button>
  </div>
  <br>
  <br>
  <div class="para-wrap">
    Terms of services and Privacy Policy.<br>
    <h4>Copyright   <i class="far fa-copyright"></i> by Picerr.Me ...</h4>
  </div>
</div>
