@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

.main-wrap{
  border-top: 2px solid black;
  width: 100vw;
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: #dfe4ea;
  min-height:100ch;
  height: auto;
}
.form-wrap{
  width: 440px;
  height: 676px;
  background-color: #FFFFFF;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 630px;
}
.title-wrap{
  margin-left: 20px;
  border-bottom: 1px solid black;
  font-family: 'Roboto Slab', serif;
}

.main-wrap-for-selected-images{
  width: 100%;
  height: 180px;
  border: 1px solid black;
  border-radius: 5px;
}
.selected-image{
  height: 100%;
}

/*icon style*/
.icon-wrap{
  width: 90%;
  height: 50px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 17px;
  border-radius: 10px;
}

.label-tag{
  text-space: 30px;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  color:black;
  font-weight: bold;
}
.form-input{
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: black;
  font-size: 19px;
  padding-right: 30px;
  border-radius: 3px;
  text-align: center;
  border-bottom: 1px solid black;
}
.post-btn{
  height: 40px;
  width: 180px;
  border-radius: 10px;
  margin-left: 55%;
  margin-top: 180px;
  font-size: 20px;
  border: transparent;
  font-family: 'Rubik', sans-serif;
  background-color: #ffa801;
}
.post-btn:hover{
  border: transparent;
  background-color: #57606f;
  color: #FFFFFF;
}
/* show post */
.post-view{
  background-color: #FFFFFF;
  border-left: 2px solid black;
  margin-top: -710px;
  width:1000px;
  margin-left: 630px;
  padding-left: 20px;
}
.post-page{
  height: auto;
  width: 57vw;
  padding: 20px;
  border: 1px solid black;
}
.table{
  width: 100%;
  height:auto;
}
tbody{

}
.raw-wrap{
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tr{
  border-bottom: 2px solid black;
}
.btn-Delete{
  background-color:#ff4757;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border: transparent;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
.btn-Update{
  background-color: #2ed573;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border: transparent;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
.btn-Update:hover{
  background-color: #ffa502;
  border: transparent;
}
.btn-Delete:hover{
  background-color: #ffa502;
  border:transparent;
}
.table-title{
  font-size:22px;
  font-family: 'Roboto Slab', serif;
  width:240px;
}
.desc-wrap {
  width: 280px;
  font-family: 'Roboto Slab', serif;
  font-size:16px;
}
.mbNumber{
  font-family: 'Roboto Slab', serif;
  font-size:16px;
}
.btn-find-image{
  height: 45px;
  width:170px ;
  border-radius: 4px;
  font-family: 'Roboto Slab', serif;
  background-color:#5352ed;
  color: white;
  font-size: 15px;
  border: transparent;
}
.btn-find-image:hover{
  background-color:#3742fa ;
}
.full-wrap{
  background-color:#4b4b4b;
  height:800px;
  padding: 30px;
}
