.main-wrap {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(189,195,199,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(189,195,199,1);
  box-shadow: 0px 0px 5px 0px rgba(189,195,199,1);
  margin-top: 25px;
  border-radius: 10px;
  background-color: white;

}

.text-create-account{
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
}
.login-text {
  font-family: 'Ubuntu', sans-serif;
  color: #2c3e50;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.item-wrap{
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #bdc3c7;
}

.icon-wrap{
  width: 50px;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 17px;
}
.text-input{
  width: 100%;
  border: none;
}
.text-input:focus{
  outline: none;
}
.social-wrap{
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  background-color: green;
  display: inline-block;
  margin-right: 10px;

  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 8px;

}
.social-wrap:hover{
  cursor: pointer;
}
