<div class="main-wrap">



    <div class="col-12 ">

      <span class="line01">
      <div class="image-wrap">

      </div>
      </span>
      <div class="vl"></div>

      <div class="login-content">
        <span class="line01">
      <p class="login-text" align="center">
        Login
      </p>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-user-friends"></i>
        </div>
        <input class="text-input" type="text"  placeholder="User Name" >
        <div class="icon-wrap">
          <i class="fas fa-address-card"></i>
        </div>

      </div>
      <br>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-key"></i>
        </div>
        <input class="text-input" type="password" placeholder="password">
        <div class="icon-wrap">
          <i class="fas fa-unlock-alt"></i>
        </div>
      </div>
      <br>
      <br>
      <p style="text-align: right">

        <button class="submit"><i class="fas fa-arrow-circle-right"></i>      Continue</button>
      </p>
      <br>
        </span>
      </div>


    </div>



</div>
