<div class="main-wrap">

  <div class="row" style="margin: 0">

    <div class="col-12 col-md-6">
      <p style="text-align: center" class="image-wrap">
        <svg id="file:///C:/Users/A/Downloads/undraw_professor_8lrt.png"></svg>
      </p>
      <p class="text-create-account">
        Create am account
      </p>
    </div>
    <div class="col-12 col-md-6">
      <br>
      <p class="login-text">
        login
      </p>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-user-friends"></i>
        </div>
        <input class="text-input" type="text"  placeholder="User Name" >
        <div class="icon-wrap">
          <i class="fas fa-address-card"></i>
        </div>

      </div>
      <br>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-user-friends"></i>
        </div>
        <input class="text-input" type="password" placeholder="password">
        <div class="icon-wrap">
          <i class="fas fa-address-card"></i>
        </div>

      </div>
      <br>

<!--      <section class="example-section">-->
<!--        <mat-checkbox class="example-margin">Remember Me</mat-checkbox>-->
<!--      </section>-->
      <br>
      <p style="text-align: right">

        <button >Let's Dig it</button>
      </p>
      <br>

      <div class="social-box">
        <div class="social-wrap" style="background-color: #3B5998">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="social-wrap" style="background-color: #FF0000">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="social-wrap" style="background-color: #8a3ab9">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="social-wrap" style="background-color: #00ACEE">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>

  </div>

</div>
