
<div class="main-wrap">

    <div class="col-12 ">

      <span class="line01">
      <div class="image-wrap">

      </div>
      </span>
      <div class="vl"></div>

      <div class="login-content">
        <span class="line01">
      <p class="login-text" align="center">
        Login
      </p>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-user-friends"></i>
        </div>
        <input [(ngModel)]="email" class="text-input" id="email" type="email"  placeholder="name@example.com" >
        <div class="icon-wrap">
          <i class="fas fa-address-card"></i>
        </div>

      </div>
      <br>
      <div class="item-wrap">
        <div class="icon-wrap" >
          <i class="fas fa-key"></i>
        </div>
        <input [(ngModel)]="password" class="text-input" type="password" placeholder="password">
        <div class="icon-wrap">
          <i class="fas fa-unlock-alt"></i>
        </div>
      </div>
      <br>
      <br>
      <div class="button-wrap">
        <button class="submit" (click)="loginUser()" ><i class="fas fa-power-off"></i>      Continue</button>
        <br>
        <h3 class="button-h3">OR</h3>
          <br>
        <button class="submit" (click)="accessSignPage()"><i class="fas fa-user-plus"></i>      Sign Up</button>
        <br>
        <div class="policy-wrap">
            Terms of services and Privacy Policy.<br>
            <h5>Copyright   <i class="far fa-copyright"></i> by Picerr.Me</h5>
          </div>
      </div>
      <br>

        </span>
      </div>
    </div>

</div>
