
<div class="main-wrap">
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Pickerr.Me is a smart phone and laptop price prediction and recommendation system. Users can view, predict the next month price and get recommendations for their preference. Sellers can update their prices using our web application.
    We kindly ask you to support us in responding to short questions about the brand of smartphone and laptop you use.</p>
  <p>(Pickerr.Me Explore the E.tec World)</p>
</div>

<h2 class="team" style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img  src="assets/f1.PNG" alt="Salitha Perera" style="width:100%">
      <div class="overlay">
      <div class="container">
        <h2>Salitha Perera</h2>
        <p class="title">Team Leader</p>
        <p>Second Year SE Student(IIT)</p>
        <p>salitha.2019347@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/f1.PNG" alt="Seniru Abeywickrama" style="width:100%">
      <div class="container">
        <h2>Seniru Abeywickrama</h2>
        <p class="title">Team Member</p>
        <p>Second Year SE Student(IIT)</p>
        <p>seniru.2019397@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/f1.PNG" alt="Ayesh Perera" style="width:100%">
      <div class="container">
        <h2>Ayesh Perera</h2>
        <p class="title">Team Member</p>
        <p>Second Year SE Student(IIT)</p>
        <p>ayesh.2019371@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/f1.PNG" alt="Wehan Himsara" style="width:100%">
      <div class="container">
        <h2>Wehan Himsara</h2>
        <p class="title">Team Member</p>
        <p>Second Year SE Student(IIT)</p>
        <p>wehan.2019349@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/f2.PNG" alt="Dulini Dilmini" style="width:100%">
      <div class="container">
        <h2>Dulini Dilmini</h2>
        <p class="title">Team Member</p>
        <p>Second Year SE Student(IIT)</p>
        <p>dulini.2019785@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/f2.PNG" alt="Pavani Nadeesha" style="width:100%">
      <div class="container">
        <h2>Pavani Nadeesha</h2>
        <p class="title">Team Member</p>
        <p>Second Year SE Student(IIT)</p>
        <p>pavani.20191252@iit.ac.lk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</div>
