
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- WELCOME DIV -->
<div class="welcome">

  <div class="section-pattern-overlay">

    <div class="section-center">

      <div class="section-align">

        <div class="container-head">

          <h1 class="head">We are <span class="uc"><b>"UNITED CODERS"</b></span></h1>

        </div>

      </div>

    </div>

  </div>

</div>




<!-- ABOUT US DIV -->
<section class="section1">

  <div class="container-middle">

    <header>
      <h2 class="section-heading"><span>About us</span></h2>
    </header>

    <p class="abt">Pickerr.Me is a smart phone and laptop price prediction and recommendation system. Users can view, predict the next month price and get recommendations for their preference. Sellers can update their prices using our web application. We kindly ask you to support us in responding to short questions about the brand of smartphone and laptop you use.

      (Pickerr.Me Explore the E.tec World)</p>
  </div><!-- /.container -->

</section><!-- /.section -->
<!-- END ABOUT US SECTION -->



<!-- CTA SECTION -->
<section class="section">

  <div class="cta">

    <div class="section-pattern-overlay">

      <div class="container-end">

        <h2 class="ourTm">Our Team </h2>

      </div><!-- /.container -->

      <div class="abtUs">
        <div class="row">
          <div class="column">
            <div class="container2">
              <img  src="assets/salitha.jpg" alt="Salitha Perera" style="width:100%" class="image">
              <div class="overlay">

                <div class="text">
                  <h2>Salitha Perera</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>salitha.2019347@iit.ac.lk</p>
                  <p><a href="mailto:salitha.2019347@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>

            </div>
          </div>

          <div class="column">
            <div class="container2">
              <img src="assets/seniru.jpeg" alt="Seniru Abeywickrama" style="width:100%" class="image">
              <div class="overlay">
                <div class="text">
                  <h2>Seniru Abeywickrama</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>seniru.2019397@iit.ac.lk</p>
                  <p><a href="mailto:seniru.2019397@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="container2">
              <img src="assets/ayesh.png" alt="Ayesh Perera" style="width:100%"class="image">
              <div class="overlay">
                <div class="text">
                  <h2>Ayesh Perera</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>ayesh.2019371@iit.ac.lk</p>
                  <p><a href="mailto:ayesh.2019371@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="container2">
              <img src="assets/wehan.jpeg" alt="Wehan Himsara" style="width:100%"class="image">
              <div class="overlay">
                <div class="text">
                  <h2>Wehan Himsara</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>wehan.2019349@iit.ac.lk</p>
                  <p><a href="mailto:wehan.2019349@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="container2">
              <img src="assets/pawani.jpeg" alt="Pavani Nadeesha" style="width:100%"class="image">
              <div class="overlay">
                <div class="text">
                  <h2>Pavani Nadeesha</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>pavani.20191252@iit.ac.lk</p>
                  <p><a href="mailto:pavani.20191252@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="container2">
              <img src="assets/Dulinii.jpg" alt="Dulini Dilmini" style="width:100%"class="image">
              <div class="overlay">
                <div class="text">
                  <h2>Dulini Dilmini</h2>
                  <p>Second Year SE Student(IIT)</p>
                  <p>dulini.2019785@iit.ac.lk</p>
                  <p><a href="mailto:dulini.2019785@iit.ac.lk" class="button">Contact</a> </p>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>


  </div>

</section>

